*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px; 
}

p{
    margin: 0px;
}

.title{
    color: black;
}

.titles{
    font-family: 'Birthstone';
    color: rgb(83, 14, 14);
    text-align: center;
}


@font-face {
    font-family: 'Bebas Neue';
    src: url('/Fuentes/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Birthstone';
    src: url('/Fuentes/Birthstone-Regular.ttf') format('truetype');

    font-family: 'Inria Sans';
    src: url('/Fuentes/InriaSans-Regular.ttf') format('truetype');
}

.container{
    margin: 0px;
    height: 100%;
    background-color: rgb(233, 204, 204);
    width: 100%
}

.header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 60%;
    float: left;
    margin: 0px;
    margin-left: 1%;
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    
}


.ini-sesion a{
    color: black;
    text-decoration: none;
}
.ini-sesion:hover a{
    color: brown;
}

.registro:hover{
    color: brown;
}


.sesion{
    height: 45%;
    font-family: 'Inria Sans';
    text-align: center;
    display: flex;
    color: black;

}

.carrito{
    height: 20%;
}

.nav{
    
    font-family: 'Bebas Neue';
    width: 100%;
    background-color: rgb(73, 7, 7);
    color:rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 4px;
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    display: flex;
}

.nav a{
    text-decoration: none;
    color: white;
    margin-left: 1%;
}

.nav:hover a{
    text-decoration: none;
    color:rgb(255, 195, 195);
}


html, body {
    min-height: 100%;
}

.barralateral {
    background: color #d9c6b4;;
    float:left;
    height:400px;
    padding:20px;
    width:250px;
}


